/*
	布局的时候使用的 rem 写
	字体用的 px2rem 解决
*/
html {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 300;
}
body {
  background-color: #f6f6f6;
}
li {
  list-style: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  /*px*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #00bdff;
}
.iconfont-star {
  color: #ccc;
}
.iconfont-mark {
  color: #ffd800;
}
.placetaker {
  display: inline-block;
  width: 40px;
  /*px*/
}
/* 后面几页重复使用的列表样式 */
.font-wait {
  color: #a5a5a5;
}
.report-list {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  background-color: #fff;
  color: #5b5b5b;
  border-bottom: 1px solid #a9a9a9;
  /*no*/
}
.report-list .report-list-item {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 0.15625rem;
  margin-left: 0.15625rem;
  padding-top: 0.5625rem;
  padding-bottom: 0.46875rem;
  border-bottom: 1px solid #a9a9a9;
  /*no*/
}
.report-list .rli-item {
  display: inline-block;
  position: absolute;
  top: 0.53125rem;
  margin-left: 15px;
  /*px*/
  overflow: hidden;
  width: 2rem;
  height: 0.625rem;
  font-size: 32px;
  /*px*/
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
}
.report-list .rli-item span {
  display: inline-block /* Opera */;
  padding-left: 100%;
}
.report-list .rli-itemDetail {
  display: inline-block;
  margin-left: 3.4375rem;
  font-size: 28px;
  /*px*/
}
.report-list .rli-itemDetailMore {
  width: 100%;
  margin-top: 0.46875rem;
  padding-top: 0.5625rem;
  border-top: 1px solid #ddd;
  /*no*/
}
.report-list .rli-itemDetailMore span {
  position: relative;
  left: 40px;
  /*px*/
  margin-left: 3.53125rem;
  font-size: 28px;
  /*px*/
}
.report-list .rli-itemDetailMore p {
  margin-left: 1.015625rem;
  font-size: 28px;
  /*px*/
}
.report-list li:last-child {
  border: none;
}
.btn-confirm {
  display: block;
  width: 90%;
  height: 1.25rem;
  margin: 0 auto;
  background-color: #19b9ff;
  border-radius: 0.15625rem;
  border-style: none;
  font-size: 32px;
  /*px*/
  color: #fff;
}
.feedback {
  background-color: #fff;
}
.feedback-img {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 1.015625rem;
  width: 6.875rem;
  height: 3.5rem;
}
.feedback-thanks {
  margin-bottom: 0.234375rem;
  text-align: center;
  color: #ffba00;
  font-size: 40px;
  /*px*/
}
.feedback-better {
  text-align: center;
  color: #d2d2d2;
  font-size: 28px;
  /*px*/
}
.feedback-btn {
  display: block;
  margin: 0 auto;
  width: 6.25rem;
  height: 1.40625rem;
  background-color: #19bbff;
  color: #fff;
  font-size: 32px;
  /*px*/
  border: none;
  border-radius: 0.15625rem;
  outline: none;
}
/* 后面几页重复使用的列表样式 */
/* home */
#home-unfinishItems {
  position: absolute;
  z-index: 1;
  top: 7.1875rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 90%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#home-header {
  width: 100%;
  height: 5.9375rem;
  background: url(img/home-bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
}
#home-header .home-header-name {
  display: inline-block;
  margin: 0 auto;
  margin-top: 1.09375rem;
  font-size: 84px;
  /*px*/
  line-height: 84px;
  /*px*/
}
#home-header .home-header-submit {
  position: relative;
  display: block;
  left: 50%;
  margin-top: 0.9375rem;
  margin-left: -2.421875rem;
  width: 4.84375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background: url(img/home-submit-bg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0.15625rem;
  border-style: none;
  font-size: 32px;
  /*px*/
}
#home-header .home-submit-folder {
  position: absolute;
  width: 0.65625rem;
  height: 0.375rem;
  right: 0;
  bottom: 0;
  background: url(img/home-submit-folder.png) no-repeat;
  background-size: 100% 100%;
}
.home-nav {
  line-height: 1.25rem;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  /*px*/
  color: #a9a9a9;
}
#home-nav-unfinish {
  float: left;
  width: 50%;
  border-bottom: 1px solid #ccc;
  /*no*/
}
#home-nav-finish {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  /*no*/
  width: 50%;
}
.home-nav-focus {
  border-bottom: 1px solid #157efb!important;
  /*no*/
  color: #157efb;
}
.home-itemList {
  /* 已完成和未完成 list 共用一套样式 */
  margin-top: 0.5625rem;
  padding-left: 0.46875rem;
  padding-right: 0.46875rem;
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
  /*no*/
}
.home-itemList .home-itemList-single {
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 0.5625rem;
  padding-right: 0.3125rem;
  padding-bottom: 0.46875rem;
  padding-left: 0.3125rem;
  line-height: 32px;
  /*px*/
  border-bottom: 1px solid #a9a9a9;
  /*no*/
  font-size: 32px;
  /*px*/
}
.home-itemList .home-itemList-single .hi-single-type {
  color: #404040;
}
.home-itemList .home-itemList-single .hi-single-status {
  float: right;
  color: #157efb;
}
.home-itemList .home-itemList-single .hi-single-date {
  float: right;
  margin-top: 0.3125rem;
  font-size: 24px;
  /*px*/
  line-height: 24px;
  /*px*/
  color: #9a9a9a;
}
.home-itemList ul li:last-child {
  border: none;
}
.home-itemList ul {
  border-bottom: 1px solid #a9a9a9;
  /*no*/
}
#home-nothing {
  margin-top: 0.5625rem;
  background-color: #fff;
}
#home-nothing .home-nothing-bg {
  position: relative;
  top: 1.09375rem;
  margin-bottom: 2.1875rem;
  width: 3.28125rem;
  height: 3.28125rem;
  left: 50%;
  margin-left: -1.640625rem;
  background: url(img/home-nothing-bg.png) no-repeat;
  background-size: 100% 100%;
}
#home-nothing .home-nothing-line {
  padding-bottom: 3.125rem;
  text-align: center;
  font-size: 32px;
  /*px*/
  color: #d2d2d2;
}
/* home */
/* detail */
#detail-response,
#submit-response {
  margin-top: 0.5625rem;
}
.detail-btn {
  margin-top: 0.5625rem;
  margin-bottom: 0.46875rem;
}
#detail-title-btn {
  transition: transform .3s;
}
#detail-title-detail {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding-top 0.3s;
  transition: padding-bottom 0.3s;
}
#detail-title-detail div {
  margin-left: 1.015625rem;
}
/* detail */
/* thanks */
.thanks-img {
  background: url(img/thanks.png) no-repeat;
  background-size: 100% 100%;
}
.thanks-btn {
  margin-top: 35%;
}
/* thanks */
/* submit-suc */
.submit-suc-img {
  background: url(img/submit-suc.png) no-repeat;
  background-size: 100% 100%;
}
.submit-suc-detail {
  margin-top: 20%;
}
.submit-suc-home {
  margin-top: 0.78125rem;
}
/* submit-suc */
/* fail */
#fail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#fail {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4.1015625rem;
  margin-top: -3.90625rem;
  width: 8.203125rem;
  height: 7.8125rem;
  background-color: #fff;
  border-radius: 0.15625rem;
}
#fail .fail-img {
  position: absolute;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: 0.78125rem;
  width: 5rem;
  height: 2.5625rem;
  background: url(img/fail.png) no-repeat;
  background-size: 100% 100%;
}
#fail .fail-line1 {
  margin-top: 3.75rem;
  margin-bottom: 0.078125rem;
  text-align: center;
  color: #ffba00;
  font-size: 40px;
  /*px*/
}
#fail .fail-line2 {
  text-align: center;
  color: #d2d2d2;
  font-size: 28px;
  /*px*/
}
#fail .fail-btn {
  display: block;
  margin: 0 auto;
  margin-top: 0.46875rem;
  width: 6.25rem;
  height: 1.25rem;
  background-color: #19bbff;
  color: #fff;
  font-size: 32px;
  /*px*/
  border: none;
  border-radius: 0.15625rem;
  outline: none;
}
/* fail */
/* submit */
.submit-input {
  border: none;
  outline: none;
  line-height: 32px;
  /*px*/
  max-width: 4.21875rem;
}
.submit-text {
  width: 100%;
  height: 3.125rem;
  font-size: 20px;
  /*px*/
  outline: none;
  border: none;
}
/* submit */
