/*
	布局的时候使用的 rem 写
	字体用的 px2rem 解决
*/

html {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 300;
}

body {
  background-color: #f6f6f6;
}

li {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.woff') format('woff'),  url('font/iconfont.ttf') format('truetype'),  url('font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002667rem;
  -moz-osx-font-smoothing: grayscale;
  color: #00bdff;
}

.iconfont-star {
  color: #ddd;
}

.placetaker {
  display: inline-block;
}

/* 后面几页重复使用的列表样式 */

.font-wait {
  color: #a5a5a5;
}

.report-list {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  background-color: #fff;
  color: #5b5b5b;
  border-bottom: 1px solid #a9a9a9;
}

.report-list .report-list-item {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 0.15625rem;
  margin-left: 0.15625rem;
  padding-top: 0.5625rem;
  padding-bottom: 0.46875rem;
  border-bottom: 1px solid #a9a9a9;
}

.report-list .rli-item {
  display: inline-block;
  position: absolute;
  top: 0.53125rem;
  overflow: hidden;
  width: 2rem;
  height: 0.625rem;
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
}

.report-list .rli-item span {
  display: inline-block ;
  padding-left: 100%;
}

.report-list .rli-itemDetail {
  display: inline-block;
  margin-left: 3.4375rem;
}

.report-list .rli-itemDetailMore {
  width: 100%;
  margin-top: 0.46875rem;
  padding-top: 0.5625rem;
  border-top: 1px solid #ddd;
}

.report-list .rli-itemDetailMore span {
  position: relative;
  margin-left: 3.53125rem;
}

.report-list .rli-itemDetailMore p {
  margin-left: 1.015625rem;
}

.report-list li:last-child {
  border: none;
}

.btn-confirm {
  display: block;
  width: 90%;
  height: 1.25rem;
  margin: 0 auto;
  background-color: #19b9ff;
  border-radius: 0.15625rem;
  border-style: none;
  color: #fff;
}

.feedback {
  background-color: #fff;
}

.feedback-img {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 1.015625rem;
  width: 6.875rem;
  height: 3.5rem;
}

.feedback-thanks {
  margin-bottom: 0.234375rem;
  text-align: center;
  color: #ffba00;
}

.feedback-better {
  text-align: center;
  color: #d2d2d2;
}

.feedback-btn {
  display: block;
  margin: 0 auto;
  width: 6.25rem;
  height: 1.40625rem;
  background-color: #19bbff;
  color: #fff;
  border: none;
  border-radius: 0.15625rem;
  outline: none;
}

/* 后面几页重复使用的列表样式 */

/* home */

#home-header {
  width: 100%;
  height: 5.9375rem;
  background: url(img/home-bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
}

#home-header .home-header-name {
  display: inline-block;
  margin: 0 auto;
  margin-top: 1.09375rem;
}

#home-header .home-header-submit {
  position: relative;
  display: block;
  left: 50%;
  margin-top: 0.9375rem;
  margin-left: -2.421875rem;
  width: 4.84375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background: url(img/home-submit-bg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0.15625rem;
  border-style: none;
}

#home-header .home-submit-folder {
  position: absolute;
  width: 0.65625rem;
  height: 0.375rem;
  right: 0;
  bottom: 0;
  background: url(img/home-submit-folder.png) no-repeat;
  background-size: 100% 100%;
}

.home-nav {
  line-height: 1.25rem;
  background-color: #fff;
  text-align: center;
  color: #a9a9a9;
}

#home-nav-unfinish {
  float: left;
  width: 50%;
  border-bottom: 1px solid #ccc;
}

#home-nav-finish {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  width: 50%;
}

.home-nav-focus {
  border-bottom: 1px solid #157efb!important;
  color: #157efb;
}

.home-itemList {
  /* 已完成和未完成 list 共用一套样式 */
  margin-top: 0.5625rem;
  padding-left: 0.46875rem;
  padding-right: 0.46875rem;
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
}

.home-itemList .home-itemList-single {
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 0.5625rem;
  padding-right: 0.3125rem;
  padding-bottom: 0.46875rem;
  padding-left: 0.3125rem;
  border-bottom: 1px solid #a9a9a9;
}

.home-itemList .home-itemList-single .hi-single-type {
  color: #404040;
}

.home-itemList .home-itemList-single .hi-single-status {
  float: right;
  color: #157efb;
}

.home-itemList .home-itemList-single .hi-single-date {
  float: right;
  margin-top: 0.3125rem;
  color: #9a9a9a;
}

.home-itemList ul li:last-child {
  border: none;
}

#home-nothing {
  margin-top: 0.5625rem;
  background-color: #fff;
}

#home-nothing .home-nothing-bg {
  position: relative;
  top: 1.09375rem;
  margin-bottom: 2.1875rem;
  width: 3.28125rem;
  height: 3.28125rem;
  left: 50%;
  margin-left: -1.640625rem;
  background: url(img/home-nothing-bg.png) no-repeat;
  background-size: 100% 100%;
}

#home-nothing .home-nothing-line {
  padding-bottom: 3.125rem;
  text-align: center;
  color: #d2d2d2;
}

/* home */

/* detail */

#detail-response,
#submit-response {
  margin-top: 0.5625rem;
}

.detail-btn {
  margin-top: 0.5625rem;
  margin-bottom: 0.46875rem;
}

#detail-title-btn {
  transition: transform .3s;
}

#detail-title-detail {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding-top 0.3s;
  transition: padding-bottom 0.3s;
}

#detail-title-detail div {
  margin-left: 1.015625rem;
}

/* detail */

/* thanks */

.thanks-img {
  background: url(img/thanks.png) no-repeat;
  background-size: 100% 100%;
}

.thanks-btn {
  margin-top: 35%;
}

/* thanks */

/* submit-suc */

.submit-suc-img {
  background: url(img/submit-suc.png) no-repeat;
  background-size: 100% 100%;
}

.submit-suc-detail {
  margin-top: 20%;
}

.submit-suc-home {
  margin-top: 0.78125rem;
}

/* submit-suc */

/* fail */

#fail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#fail {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4.1015625rem;
  margin-top: -3.90625rem;
  width: 8.203125rem;
  height: 7.8125rem;
  background-color: #fff;
  border-radius: 0.15625rem;
}

#fail .fail-img {
  position: absolute;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: 0.78125rem;
  width: 5rem;
  height: 2.5625rem;
  background: url(img/fail.png) no-repeat;
  background-size: 100% 100%;
}

#fail .fail-line1 {
  margin-top: 3.75rem;
  margin-bottom: 0.078125rem;
  text-align: center;
  color: #ffba00;
}

#fail .fail-line2 {
  text-align: center;
  color: #d2d2d2;
}

#fail .fail-btn {
  display: block;
  margin: 0 auto;
  margin-top: 0.46875rem;
  width: 6.25rem;
  height: 1.25rem;
  background-color: #19bbff;
  color: #fff;
  border: none;
  border-radius: 0.15625rem;
  outline: none;
}

/* fail */

/* submit */

.submit-input {
  border: none;
  outline: none;
  max-width: 4.21875rem;
}

.submit-text {
  width: 100%;
  height: 3.125rem;
  outline: none;
  border: none;
}

/* submit */

[data-dpr="1"] .iconfont {
  font-size: 20px;
}

[data-dpr="2"] .iconfont {
  font-size: 40px;
}

[data-dpr="3"] .iconfont {
  font-size: 60px;
}

[data-dpr="1"] .placetaker {
  width: 20px;
}

[data-dpr="2"] .placetaker {
  width: 40px;
}

[data-dpr="3"] .placetaker {
  width: 60px;
}

[data-dpr="1"] .report-list .rli-item {
  margin-left: 7.5px;
  font-size: 16px;
}

[data-dpr="2"] .report-list .rli-item {
  margin-left: 15px;
  font-size: 32px;
}

[data-dpr="3"] .report-list .rli-item {
  margin-left: 22.5px;
  font-size: 48px;
}

[data-dpr="1"] .report-list .rli-itemDetail {
  font-size: 14px;
}

[data-dpr="2"] .report-list .rli-itemDetail {
  font-size: 28px;
}

[data-dpr="3"] .report-list .rli-itemDetail {
  font-size: 42px;
}

[data-dpr="1"] .report-list .rli-itemDetailMore span {
  left: 20px;
  font-size: 14px;
}

[data-dpr="2"] .report-list .rli-itemDetailMore span {
  left: 40px;
  font-size: 28px;
}

[data-dpr="3"] .report-list .rli-itemDetailMore span {
  left: 60px;
  font-size: 42px;
}

[data-dpr="1"] .report-list .rli-itemDetailMore p {
  font-size: 14px;
}

[data-dpr="2"] .report-list .rli-itemDetailMore p {
  font-size: 28px;
}

[data-dpr="3"] .report-list .rli-itemDetailMore p {
  font-size: 42px;
}

[data-dpr="1"] .btn-confirm {
  font-size: 16px;
}

[data-dpr="2"] .btn-confirm {
  font-size: 32px;
}

[data-dpr="3"] .btn-confirm {
  font-size: 48px;
}

[data-dpr="1"] .feedback-thanks {
  font-size: 20px;
}

[data-dpr="2"] .feedback-thanks {
  font-size: 40px;
}

[data-dpr="3"] .feedback-thanks {
  font-size: 60px;
}

[data-dpr="1"] .feedback-better {
  font-size: 14px;
}

[data-dpr="2"] .feedback-better {
  font-size: 28px;
}

[data-dpr="3"] .feedback-better {
  font-size: 42px;
}

[data-dpr="1"] .feedback-btn {
  font-size: 16px;
}

[data-dpr="2"] .feedback-btn {
  font-size: 32px;
}

[data-dpr="3"] .feedback-btn {
  font-size: 48px;
}

[data-dpr="1"] #home-header .home-header-name {
  font-size: 42px;
  line-height: 42px;
}

[data-dpr="2"] #home-header .home-header-name {
  font-size: 84px;
  line-height: 84px;
}

[data-dpr="3"] #home-header .home-header-name {
  font-size: 126px;
  line-height: 126px;
}

[data-dpr="1"] #home-header .home-header-submit {
  font-size: 16px;
}

[data-dpr="2"] #home-header .home-header-submit {
  font-size: 32px;
}

[data-dpr="3"] #home-header .home-header-submit {
  font-size: 48px;
}

[data-dpr="1"] .home-nav {
  font-size: 12px;
}

[data-dpr="2"] .home-nav {
  font-size: 24px;
}

[data-dpr="3"] .home-nav {
  font-size: 36px;
}

[data-dpr="1"] .home-itemList .home-itemList-single {
  line-height: 16px;
  font-size: 16px;
}

[data-dpr="2"] .home-itemList .home-itemList-single {
  line-height: 32px;
  font-size: 32px;
}

[data-dpr="3"] .home-itemList .home-itemList-single {
  line-height: 48px;
  font-size: 48px;
}

[data-dpr="1"] .home-itemList .home-itemList-single .hi-single-date {
  font-size: 12px;
  line-height: 12px;
}

[data-dpr="2"] .home-itemList .home-itemList-single .hi-single-date {
  font-size: 24px;
  line-height: 24px;
}

[data-dpr="3"] .home-itemList .home-itemList-single .hi-single-date {
  font-size: 36px;
  line-height: 36px;
}

[data-dpr="1"] #home-nothing .home-nothing-line {
  font-size: 16px;
}

[data-dpr="2"] #home-nothing .home-nothing-line {
  font-size: 32px;
}

[data-dpr="3"] #home-nothing .home-nothing-line {
  font-size: 48px;
}

[data-dpr="1"] #fail .fail-line1 {
  font-size: 20px;
}

[data-dpr="2"] #fail .fail-line1 {
  font-size: 40px;
}

[data-dpr="3"] #fail .fail-line1 {
  font-size: 60px;
}

[data-dpr="1"] #fail .fail-line2 {
  font-size: 14px;
}

[data-dpr="2"] #fail .fail-line2 {
  font-size: 28px;
}

[data-dpr="3"] #fail .fail-line2 {
  font-size: 42px;
}

[data-dpr="1"] #fail .fail-btn {
  font-size: 16px;
}

[data-dpr="2"] #fail .fail-btn {
  font-size: 32px;
}

[data-dpr="3"] #fail .fail-btn {
  font-size: 48px;
}

[data-dpr="1"] .submit-input {
  line-height: 16px;
}

[data-dpr="2"] .submit-input {
  line-height: 32px;
}

[data-dpr="3"] .submit-input {
  line-height: 48px;
}

[data-dpr="1"] .submit-text {
  font-size: 10px;
}

[data-dpr="2"] .submit-text {
  font-size: 20px;
}

[data-dpr="3"] .submit-text {
  font-size: 30px;
}